.wrapper
  = render 'layouts/header'
  .nav-bar
  .contents
    .side-bar
    .main-content
      .title
      .description
       .about-upload
      .profile
        .flame
          .flame__name
          .flame__name--show
        .flame
          .flame__kana
          .flame__kana--show
        .flame
          .flame__date-of-birth
          .flame__date-of-birth--show
      %form.address-info
        .boxes
          .box
            .box__postal-code
            %input
          .box
            .box__prefecture
            %input
          .box
            .box__city
            %input
          .box
            .box__address-number
            %input
          .box
            .box__building-name
            %input
      .button.register
      .about-registration
  = render 'layouts/aside'
  = render 'layouts/footer'