%body
  .user-signup

    %li
      = link_to "ログイン", new_user_session_path, class: 'post'
    %li
      = link_to "ログアウト", destroy_user_session_path, method: :delete
    %li
      = link_to "新規登録", new_user_registration_path, class: 'post'

    .signup__container

      %header.signup__header

        %h1

          %a

            .signup__header-img
              %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340"}

        %nav.progress-ber

          %ol.clearfix









      %main.signup-main

        %section.signup-container

          %h2.signup-head 会員情報入力

          %form.signup-inner(action="" method="post")

            .signup-content

              .form-group
                %label(for="nickname") ニックネーム
                %span.form-require 必須
                %input.input-default{:type => "text",:placeholder => "例）メルカリ太郎", :value => ""}/

              .form-group
                %label(for="email") メールアドレス
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/

              .form-group
                %label(for="nickname") パスワード
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/

              .form-group
                %label(for="nickname") パスワード(確認)
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/

              .form-group
                %h3.text-left 本人確認
                %p.signup-text 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

              .form-group
                %label(for="nickname") ニックネーム
                %span.form-require 必須
                %input.input-default{:type => "text",:placeholder => "例）メルカリ太郎", :value => ""}/

              .form-group
                %label(for="email") メールアドレス
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/

              .form-group
                %label(for="nickname") パスワード
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/

              .form-group
                %label(for="nickname") パスワード(確認)
                %span.form-require 必須
                %input.input-default{:type => "email",:placeholder => "PC・携帯どちらでも可", :value => ""}/




-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   = devise_error_messages!
-#   .field
-#     .field-label
-#       = f.label :nickname
-#     .field-input
-#       = f.text_field :nickname, autofocus: true
-#   .field
-#     .field-label
-#       = f.label :email
-#     .field-input
-#       = f.email_field :email
-#   .field
-#     .field-label
-#       = f.label :password
-#       %i (英数字8文字以上)
-#     .field-input
-#       = f.password_field :password, autocomplete: "off"
-#   .field
-#     .field-label
-#       = f.label :password_confirmation
-#     .field-input
-#       = f.password_field :password_confirmation, autocomplete: "off"
-#   .actions
-#     = f.submit "Create Account", class: 'btn'

-#   = render "devise/shared/links"
