body {
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .wrapper-products-show {
    .contents-products-detail {
      width: 620px;
      height: 100vh;
      margin: 40px auto 0;
      background-color: white;
      padding: 0 40px;
      padding-bottom: 40px;
      .product-main-content {
        .product-main-content__photos {
          float: left;
          min-width: 300px;
          max-width: 300px;
          min-height: 375px;
        }
        .product-main-content__details {
          float: left;
          border: 1px  #f5f5f5 solid;
          tr {
            border-style: solid;
            border-width: 0;
            border:solid 1px #f5f5f5;
            th {
              background-color: #fafafa;
              font-weight: 400;
              border:solid 1px #f5f5f5;
              padding : 10px 10px;
              border-right: 0px;
              border-bottom: 0px; 
              border-left: 0px;
            }
            .border-top {
              border-top: 0px;
            }
            td {
              border:solid 1px #f5f5f5;
              padding : 5px 10px;
              border-right: 0px;
              border-bottom: 0px;  
            }
          }
        }
      }
      .product-price-box {
        text-align: center; 
        clear: both;
        .price-box {
          .product-price {
            font-weight: bold;
            font-size: 50px;
            display: inline-block;
          }
          .product-tax {
            display: inline-block;
            font-size: 10px;
          }
          .product-shipping-fee {
            display: inline-block;
          }
        }
      }
      .product-buy-button {
        display: block;
        height: 56px;
        margin: 16px 0 0;
        background: #ea352d;
        color: #fff;
        line-height: 56px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
      }
      .product-buy-button__sold {
        display: block;
        height: 56px;
        margin: 16px 0 0;
        color: #fff;
        text-align: center;
        font-weight: 600;
        background-color: #88888888;
        font-size: 24px;
        line-height: 56px;
      }
      .product-description {
        padding: 32px;
      }
      .product-button-left {
        .product-button-like {
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          border-radius: 40px;
          width: 120px;
          height: 40px;
          font-size: 15px;
          float: left;
        }
        .product-button-report {
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          border-radius: 40px;
          width: 180px;
          height: 40px;
          font-size: 15px;
          float: left;
        }
      }
      .product-button-right {
        a:link { color: #0299E8; }
        a:hover { opacity: 0.5 ; }
        a {text-decoration: none;}
      }
    }
    .contents-products-messages {
      width: 620px;
      height: 100vh;
      margin: 40px auto 0;
      background-color: white;
      padding: 40px 40px;
      padding-bottom: 40px;
      position: relative;
      .user-image {
        float:left;
        margin: 0;
        .profile-image {
          border-radius: 50%;
        }
      }
      .user-name {
        font-size: 12px;
        font-weight: bold;
        text-align: left;
        padding-left: 60px;
      }
      .message-body {
        width: 500px;
        float: right;
        padding: 16px;
        background: #eef0f4;
        border-radius: 15px;
        line-height: 1.5;
        word-break: break-all;
        margin-top: 5px;
        margin-right: 20px;
        .message-text {
          text-align: left;
        }
      }
      .message-triangule {
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 5px 10px 20px 40px;
        border-color: transparent #eef0f4 transparent transparent;
        clear: both;
        position: absolute;
        top: 70px;
        left: 60px;
      }
      .message-form {
        clear: both;
        padding-top: 50px;
        .alert {
          padding: 8px;
          font-size: 14px;
          background: #fff6de;
          display: inline-block;
          text-align: left;
        }
        .message-submit {
          border: 1px solid #888;
          background: #888;
          color: #fff;
          width: 100%;
          margin: 8px 0 0;
          padding: 15px 0;
          font-size: 13px;
          text-align: center;
        }
      }
    }
    .contents-products-media {
      width: 620px;
      height: 7vh;
      margin: 40px auto 0;
      background-color: white;
      padding: 40px 40px;
      padding-bottom: 40px;
      position: relative;
      padding-top: 80px;
      a {text-decoration: none;}
      a:hover { opacity: 0.5 ; }
      .facebook {
        color: #385185;
      }
      .twitter {
        color: #5D9DC9;
      }
      .pinterest {
        color: #AA2629;
      }
    }
    .contents-products-box {
      width: 720px;
      min-height: 80vh;
      margin: 20px auto 0;
      padding-bottom: 40px;
      margin-bottom: 40px;
      a:link { color: #0299E8; }
      a:hover { opacity: 0.5 ; }
      a {text-decoration: none;}
      a:visited { color: #0299E8; }
        h2 {
          text-align: left;
        }
      .products-box {
        height: 310px;
        width: 230px;
        background-color: white;
        float: left;
        margin-right: 10px;
        margin-bottom: 20px;
      }
    }
  }
}


