.user-new {
  .signup-wrapper {
    padding: 0 0 220px;
    background-color: #f5f5f5;
    .signup-header {
      height: 128px;
      text-align: center;
      h1 {
        display: inline-block;
        margin: 40px 0 0;
        a {
          height: 33px;
          margin: 0 8px 0 0;
          line-height: 33px;
          .signup-header-img {
            width: 185px;
            height: 49px;
          }
        }
      }
    }

    .signup-main {
      display: block;
      background-color: #f5f5f5;
      .btn-default {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        -webkit-transition: all ease-out .3s;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
      }
      .signup-panel {
        max-width: none;
        width: 700px;
        margin: 0 auto;
        background: #fff;
        h2 {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
          border-bottom: 1px solid #eee;
        }
        .signup-inner {
          max-width: 320px;
          margin: 0 auto;
          padding: 64px;
          .login-sns {
            padding: 0 0;
            a {
              text-decoration: none;
              .btn-mail {
                margin: 0 0;
                background: #eee;
                color: #000;
                outline: 0;
              }
              .btn-sns {
                position: relative;
                outline: 0;
              }
              .btn-sns-facebook {
                margin: 16px 0;
                background: #385185;
                color: #fff;
              }
              .btn-sns-google {
                margin: 16px 0 0;
                background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
                border: #979797 solid 1px;
                color: #333;
              }
              .i {
                position: absolute;
                top: 50%;
                left: 16px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }
            }
          }
        }
      }
    }
    .signup-footer {
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 40px 0;
      text-align: center;
      width: 456px;
      height: 220px;
      margin: 0 auto;
      nav {
        display: block;
        .clesrfix {
          content: '';
          display: block;
          clear: both;
          li {
            display: inline-block;
            margin: 0 0 0 16px;
            a {
              font-size: 12px;
              text-decoration: none;
            }
          }
        }
      }

      .signup-footer-logo {
        width: 80px;
        height: 65px;
        .img {
          margin: 40px auto 0;
          border: 0;
        }
      }
      p {
        margin: 8px 0 0 0;
        text-align: center;
      }
      small {
        font-size: 10.5px;
      }
      label {
        display: inline-block;
      }
      .link {
        display: block;
        color: #333;
      }
    }
  }
}

