.user-signup{
  .signup-wrapper {
    padding: 0 0 220px;
    background-color: #f5f5f5;

    .signup-header {
      height: 128px;
      text-align: center;
      h1 {
        display: inline-block;
        margin: 40px 0 0;
        a {
          height: 33px;
          margin: 0 8px 0 0;
          line-height: 33px;
          .signup-header-img {
            width: 185px;
            height: 49px;
          }
        }
      }
      .progress-ber {
        display: inline-block;
        padding: 40px 0 0 44px;
        border: 0;
        text-align: center;
        vertical-align: top;
        .clearfix {
          list-style: none;
          li {
            position: relative;
            z-index: 1;
            display: inline-block;
            min-width: 40px;
            margin: 0 5% 0 0;
            font-size: 12px;
            color: #888;
            margin: 0 40px 0 0;
            .progress-status {
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              background: #ccc;
              border-radius: 50%;
              .after {
                position: absolute;
                bottom: 5px;
                z-index: -1;
                display: block;
                content: '';
                width: 110%;
                height: 2px;
                background: #ccc;
              }
              .before {
                position: absolute;
                bottom: 5px;
                z-index: -1;
                display: block;
                content: '';
                width: 110%;
                height: 2px;
                background: #ccc;
                right: 50%;
              }
              .back-active {
                background: #ea352d;
              }
            }
            .back-active {
            background: #ea352d;
            }
          }
          .active {
            font-weight: 600;
            color: #ea352d;
          }
        }
      }
    }


    .signup-main {
      display: block;
      background-color: #f5f5f5;
      &__container {
        width: 700px;
        margin: 0 auto;
        background: #fff;
        .signup-head {
          padding: 32px 16px;
          font-size: 22px;
          line-height: 1.5;
          text-align: center;
        }
        .signup-inner {
          padding: 40px 16px;
          border-top: 1px solid #f5f5f5;
          .form {
            max-width: 320px;
            margin: 0 auto;
            #first {
              margin: 0;
            }
            &__group {
              margin: 40px 0 0;
              label {
                font-weight: 600;
                float: left;
                font-size: 14px;
              }
              &--require {
                margin: 0 0 0 8px;
                padding: 3px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #ea352d;
                float: left;
              }
              &--voluntary {
                margin: 0 0 0 8px;
                padding: 3px 4px;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
                background: #888;
                float: left;
              }
              .field-input {
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: #fff;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
                width: 100%;
                box-sizing: border-box;
              }
              .text-left {
                font-size: 16px;
                text-align: left;
              }
              .text {
                text-align: left;
              }
              .birthday-select-wrap {
                clear: both;
                #pref_name {
                  margin: 8px 0 0;
                  width: calc(100%);
                  display: inline-block;
                  position: relative;
                  background: #fff;
                }
                .select-wrap {
                  margin: 8px 0 0;
                  width: calc(33% - 17px);
                  display: inline-block;
                  position: relative;
                  background: #fff;
                  .select-default {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    padding: 0 10px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    -webkit-appearance: none;
                    option {
                      padding: 0 10px;
                    }
                  }
                  #user_prefecture_id {
                    width: 100%;
                    position: relative;
                    z-index: 2;
                    height: 48px;
                    padding: 0 10px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: 0;
                    font-size: 16px;
                    line-height: 1.5;
                    cursor: pointer;
                    -webkit-appearance: none;
                    option {
                      padding: 0 10px;
                    }
                  }
                  .fas.fa-angle-down {
                    position: absolute;
                    right: 16px;
                    top: 50%;
                    z-index: 2;
                    color: #888;
                    font-size: 20px;
                    -webkit-transform: translate(0, -50%);
                    transform: translate(0, -50%);
                  }
                }
                .month {
                  width: calc(30% - 17px);
                }
                .day {
                  width: calc(30% - 17px);
                }
                span {
                  font-size: 14px;
                  margin: 0 0px;
                }
              }
            }
            #ash {
              color: #888;
            }
            .btn-default {
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
            }
            .btn-red {
              margin: 40px 0 0;
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              text-decoration: none;
            }
            .none {
              display: none;
            }
            p {
              font-size: 14px;
              display: block;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              text-align: left;
            }
            .text-center {
              text-align: center;
            }
            #close {
              font-size: 20px;
              margin: 10px 0;
            }
            #identification {
              line-height: 1.5;
              font-weight: 100;
            }
            .text-right {
              text-align: right;
            }
            .link-blue {
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
      }
    }

    .signup-footer {
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      padding: 40px 0;
      text-align: center;
      width: 456px;
      height: 220px;
      margin: 0 auto;
      nav {
        display: block;
        .clesrfix {
          content: '';
          display: block;
          clear: both;
          li {
            display: inline-block;
            margin: 0 0 0 16px;
            a {
              font-size: 12px;
              text-decoration: none;
            }
          }
        }
      }
      .signup-footer-logo {
        width: 80px;
        height: 65px;
        .img {
          margin: 40px auto 0;
          border: 0;
        }
      }
      p {
        margin: 8px 0 0 0;
        text-align: center;
      }
      small {
        font-size: 10.5px;
      }
      label {
        display: inline-block;
      }
      .link {
        display: block;
        color: #333;
      }
    }
  }
}
