.sell-form__image {
  width: 698px;
  height: 300px;
  border: solid  thin #f5f5f5;
  background-color: #FFFFFF;
  &__field {
    padding: 40px 40px 30px;
    label {
      font-size: 16px;
      float: left;
      font-weight: 600;
      span {
        background-color: rgb(234, 53, 45);
        color: #fff;
        font-size: 12px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
      }
    }
  }
  &__text {
    font-size: 14px;
    font-weight: 100;
    padding: 0 40px 0;
    float: left;
    }
  #image_field {
    border: dashed 1px #cccccc;
    cursor: pointer;
    width: 88%;
    height: 162px;
    background-color: #F5F5F5;
    margin: 16px 40px 0 40px;
    float: right;
    pre {
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      color: black;
      font-family: monospace,monospace;
      margin-top: 55px;
    }
  }
  .product__image {
    clear: both;
    float: left;
    background-color: #F5F5F5;
    border: solid thin #EEEEEE;
    &__preview {
      height: 116px;
      width: 114px;
    }
    &__action {
      height: 44px;
      width: 114px;
      text-align: center;
      &__edit {
        width: 50%;
        float: left;
      }
      &__delete {
        width: 50%;
        float: right;
        color: #43A4E9;
      }
    }
  }
}
