body {
  background-color: #f5f5f5
}

.product-sell_header {
  height: 128px;
  text-align: center;
  img {
    margin: 40px 0 0;
    height: 49px;
    width: 185px;
  }
}

.product-sell_main {
  display: block;
  width: 885px;
  height: 2016px;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
  .product-info {
    background-color: #fff;
    width: 700px;
    height: 97px;
    margin: 0 auto;
    border: solid  thin #f5f5f5;
    text-align: center;
    .product-info_title {
      font-size: 22px;
      font-weight: bold;
      padding-top: 36px;
    }
  }
  .image-upload {
    width: 700px;
    height: 303px;
    background-color: #fff;
    margin: 0 auto;
    border: solid  thin #f5f5f5;
    .image-upload_head {
      font-size: 16px;
      margin: 0 0 0 39px;
      .form_require {
        background-color: rgb(234, 53, 45);
        color: #fff;
        font-size: 12px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
      }
    }
    p {
      font-size: 14px;
      margin: 8px 0 0 39px;
    }
    .image-upload_box {
      display: block;
      margin: 16px auto 0;
      height: 162px;
      width: 620px;
      background-color: #f5f5f5;
      margin: auto;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      border: dashed thin #cccccc;
      pre {
        padding-top: 50px;
      }
    }
  }
  .product-contents {
    width: 700px;
    height: 355px;
    background-color: #fff;
    margin: 0 auto;
    border: solid  thin #f5f5f5;
    .product-name {
      font-size: 16px;
      margin: 0 0 0 39px;
      .form_require {
        background-color: rgb(234, 53, 45);
        color: #fff;
        font-size: 12px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
      }
    }
    .product-name_form {
      margin: 0 0 0 39px;
      .input-default {
        height: 48px;
        width: 600px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .product-description {
      font-size: 16px;
      margin: 0 0 0 39px;
      .form_require {
        background-color: rgb(234, 53, 45);
        color: #fff;
        font-size: 12px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
      }
    }
    .product-description_form {
      margin: 0 0 0 39px;
      .textarea-default {
        font-size: 16px;
        height: 140px;
        width: 600px;
      }
    }
  }
  .product-detail {
    height: 481px;
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    border: solid  thin #f5f5f5;
    h {
      font-size: 16px;
      color: #979797;
      margin: 0 0 0 39px;
      float: left;
    }
    .detail-form {
      height: 400px;
      width: 400px;
      float: right;
      margin: 40px 30px 0 0;
      .category_title {
        font-size: 16px;
        margin: 0;
        .form_require {
          background-color: rgb(234, 53, 45);
          color: #fff;
          font-size: 12px;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
        }
      }
      .select-default {
        height: 48px;
        width: 400px;
      }
    }
  }
}
