// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-page {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .header {
    width: 100vw;
    height: 100px;
    background: #fff;
    .header__inner {
      width: 1020px;
      height: 92px;
      margin: 0 210px;
      padding-top: 8px;
      .header__top {
        display: flex;
        width: 1020px;
        height: 40px;
        h1 {
          height: 36px;
          width: 134px;
          float: left;
        }
        .header__form {
          display: block;
          width: 841px;
          height: 40px;
          margin-left: 45px;
          position: relative;
          .header__input {
            height: 40px;
            width: 100%;
            padding-left: 10px;
            padding-right: 46px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            display: inline-block;
            background: #f5f5f5;
            line-height: 1.5;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          }
          .icon-search {
            position: absolute;
            top: 0;
            right: 0;
            float: right;
            height: 40px;
            width: 40px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: rgb(102, 102, 102);
            .fa-search {
              font-size: 14px;
              color: white;
              padding: 13px;
            }
          }
        }
      }
      .header__bottom {
        height: 44px;
        width: 1020px;
        margin-top: 8px;
        .header__bottom__left {
          width: 305.64px;
          height: 44px;
          float: left;
          .header__nav {
            width: 320px;
            height: 44px;
            .header__bottom__category-list {
              position: relative;
              float: left;
              cursor: pointer;
              padding: 10px 11px 0 0;
              font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
              font-size: 14px;
              width: 160px;
              height: 34px;
            }
            .header__bottom__category-list:hover {
              color: #0099e8;
             }
            .header__bottom__brand-list {
              position: relative;
              float: left;
              cursor: pointer;
              padding: 10px 11px 0 0;
              font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
              font-size: 14px;
              height: 34px;
            }
            .header__bottom__brand-list:hover {
              color: #0099e8;
            }
          }
          .fa-list, .fa-list-ul{
            color: red;
          }
        }
        .header__bottom__right {
          float: right;
          width: 500px;
          height: 44px;
          .header__bottom__mypage {
            float: right;
            cursor: pointer;
            float: right;
            padding: 0;
            font-size: 14px;
            height: 44px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
            .mypage-icon {
              border-radius: 50%;
              width: 32px;
              margin-top: 2px;
              margin-right: 10px;
              float: left;
            }
            .mypage-text {
              height: 39px;
              margin-top: 10px;
              float: right;
            }
          }
          .header__bottom__mypage:hover {
            color: #0099e8;
          }
          .header__bottom__todo-list {
            cursor: pointer;
            float: right;
            padding: 5px 35px 0 0;
            font-size: 14px;
            height: 39px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          }
          .header__bottom__todo-list:hover > .todo-list--blue {
            color: #0099e8;
          }
          .header__bottom__know-list {
            cursor: pointer;
            float: right;
            padding: 5px 35px 0 0;
            font-size: 14px;
            height: 39px;
            font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          }
          .header__bottom__know-list:hover > .know-list--blue {
            color: #0099e8;
          }
          .fa-smile, .fa-check, .fa-bell {
            color: #ccc;
            font-size: 20px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  .app-banner {
    width: 100vw;
    height: 260px;
    background: url(https://i.gyazo.com/a5671fe10d5aebd57ee37b64331cb315.jpg);
    background-size: cover;
    .app-banner__area {
      height: 260px;
      width: 750px;
      margin: 0 auto;
      position: relative;
      color: #fff;
      .app-banner__left {
        position: absolute;
        top: 50px;
        width: 420px;
        height: 166px;
        h2 {
          font-size: 24px;
          margin: 0;
        }
        p {
          font-size: 35px;
          margin-top: 10px;
        }
        .app-banner__left__bottom {
          margin-top: 20px;
          width: 420px;
          height: 68px;
          .app-banner__left__bottom__icon {
            float: left;
            .mercari-icon {
              width: 68px;
            }
          }
          ul {
            height: 68px;
            float: left;
            list-style: none;
            li {
              float: left;
              height: 68px;
            }
            .appstore-img {
              margin-left: 24px;
              margin-top: 14px;
            }
            .googleplay-img {
              margin-left: 16px;
              margin-top: 14px;
            }
          }
        }
      }
      .app-banner__right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        .iphone-img {
          height: 260px;
        }
      }
    }
  }
}
.main {
  background: #f5f5f5;
  height: 100vh;
  width: 100vw;
  height: 4372px;
  .main__category {
    padding: 40px 0;
    width: 100vw;
    height: 1860px;
    .main__category__title {
      font-size: 28px;
      text-align: center;
    }
    .main__category__item {
      width: 940PX;
      margin: 26px auto 0 auto;
      height: 442px;
      .main__category__sub-title {
        font-size: 22px;
        color: #0099e8;
        margin: 0 11px 26px 11px;
        text-align: center;
        font-weight: bold;
      }
      .main__category__item-box {
        width: 940px;
        height: 330px;
        .item-boxs {
          margin-left: 20px;
          width: 213px;
          height: 330px;
          position: relative;
          float: left;
          background-color: #fff;
          figure {
            width: 213px;
            height: 220px;
            display: block;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              max-height: 220px;
            }
          }
          .item-boxs__body {
            height: 78px;
            padding: 16px;
            .item-boxs__name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 48px;
              line-height: 1.5;
              color: #333;
            }
            .item-boxs__price {
              font-size: 17px;
              font-weight: 600;
              color: #333;
            }
            .tax {
              font-size: 10px;
            }
          }
        }
      }
      .view__all {
        padding: 20px 0 30px;
        width: 99.5%;
        text-align: right;
        display: block;
        a {
          color: #0099e8;
        }
      }
    }
  }
  .main__brand {
    padding: 40px 0;
    width: 100vw;
    height: 1900px;
    .main__brand__title {
      font-size: 28px;
      text-align: center;
    }
    .main__brand__item {
      width: 940PX;
      margin: 26px auto 0 auto;
      height: 442px;
      .main__brand__sub-title {
        font-size: 22px;
        color: #0099e8;
        margin: 0 11px 26px 11px;
        text-align: center;
        font-weight: bold;
      }
      .main__brand__item-box {
        width: 940px;
        height: 330px;
        .item-boxs {
          margin-left: 20px;
          width: 213px;
          height: 330px;
          position: relative;
          float: left;
          background-color: #fff;
          figure {
            width: 213px;
            height: 220px;
            display: block;
            img {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              width: 100%;
              max-height: 220px;
            }
          }
          .item-boxs__body {
            height: 78px;
            padding: 16px;
            .item-boxs__name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 48px;
              line-height: 1.5;
              color: #333;
            }
            .item-boxs__price {
              font-size: 17px;
              font-weight: 600;
              color: #333;
            }
            .tax {
              font-size: 10px;
            }
          }
        }
      }
      .view__all {
        padding: 20px 0 30px;
        width: 99.5%;
        text-align: right;
        display: block;
        a {
          color: #0099e8;
        }
      }
    }
  }
  .flame {
    overflow: hidden;
    height: 390px;
    width: 1440px;
    margin-bottom: 60px;
    position: relative;
    #gallery {
      position: absolute;
      left: -1440px;
      width: 4320px;
      .easy {
        float:  left;
        width: 1440px;
        height: 390px;
        background-size: cover;
        background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/main_bg_pc.jpg);
        .easy__main__content {
          height: 390px;
          display: block;
          .easy__main__area {
            max-width: 860px;
            position: relative;
            margin: 0 auto;
            height: 390px;
            .area__content {
              width: 480px;
              height: 298px;
              position: absolute;
              top: 50px;
              left: 0;
              .area__text {
                font-size: 60px;
                color: rgb(51, 51, 51);
              }
              .area__detail {
                font-size: 18px;
                margin-top: 16px;
              }
              .vitual-store {
                margin-top: 24px;
                .store-img {
                  display: inline-block;
                  width: 170px;
                  height: 50px;
                }
              }
            }
            .iphone-img {
              position: absolute;
              top: 0;
              right: 0;
              height: 100%;
              width: auto;
            }
          }
        }
      }
      .natukasi {
        float:  left;
        width: 1440px;
        height: 390px;
        background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg);
        background-size: cover;
      }
      .camp {
        float:  left;
        width: 1440px;
        height: 390px;
        background-size: cover;
        background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg);
      }
    }
    #prev {
      background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/carousel-prev.png);
      left: 60px;
      cursor: pointer;
      height: 46px;
      width: 31px;
      position: absolute;
      top: 45%;
    }
    #next {
      background-image: url(https://www.mercari.com/jp/assets/img/common/jp/top/carousel-next.png);
      right: 60px;
      cursor: pointer;
      height: 46px;
      width: 31px;
      position: absolute;
      top: 45%;
    }
    #dots {
      text-align: center;
      display: block;
      position: absolute;
      bottom: 10px;
      width: 1440px;
      height: 15px;
      .dot {
        border-radius: 50%;
        height: 12px;
        margin-right: 15px;
        width: 12px;
        background: #fff;
        overflow: hidden;
        display: inline-block;
        opacity: .4;
      }
      .dot:hover {
        background: rgba(0,0,0,0.5);
        opacity: 1;
    }
    }
  }
}
.footer {
  width: 1400px;
  height: 391px;
  background: #212121;
  padding: 0 20px 10px 20px;
  color: #fff;
  display: block;
  .footer__top {
    width: 1020px;
    height: 298px;
    margin: 0 auto;
    display: block;
    clear: both;
    .footer__left__left {
      width: 20%;
      padding-right: 20px;
      margin-top: 18px;
      float: left;
      display: block;
      .footer h2 {
        font-size: 16px;
        font-weight: 100;
        display: block;
      }
      ul {
        display: block;
        width: 184px;
        height: 203px;
        list-style: none;
        li {
          margin-top: 20px;
          color: #fff;
          font-size: 12.5px;;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
          .fab {
            font-size: 30px;
          }
        }
        .footer__twitter-link {
          margin-top: 30px;
          display: inline-block;
          width: 47px;
          height: 42px
        }
        .footer__facebook-link {
          margin-top: 30px;
          display: inline-block;
          width: 47.53px;
          height: 42px;
        }
      }
    }
    .footer__left__right {
      width: 23%;
      height: 280px;
      margin-top: 18px;
      float: left;
      display: block;
      ul {
        display: block;
        width: 200px;
        height: 203px;
        list-style: none;
        li {
          margin-top: 20px;
          font-size: 12.5px;;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        }
      }
    }
    .footer__right__left {
      float: left;
      width: 42%;
      margin-top: 18px;
      padding-right: 20px;
      height: 202px;
      .footer__right__left__left {
        float: left;
        width: 45%;
        padding-right: 10px;
      }
      .footer__right__left__right {
        float: left;
        width: 45%;
      }
      ul {
        list-style: none;
        li {
          margin-top: 20px;
          font-size: 12.5px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        }
      }
      .line {
        line-height: 18px;
      }
    }
    .footer__right__right {
      float: left;
      width: auto;
      margin-top: 18px;
      ul {
        list-style: none;
        li {
          margin-top: 20px;
          font-size: 12.5px;
          font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
        }
      }
    }
    .clear {
      opacity: .7;
    }
  }
  .footer__bottom {
    width: 1020px;
    height: 33px;
    margin: 30px auto 20px;
  }
  .footer__bottom span {
    width: 745px;
    display: inline-block;
    text-align: center;
    font-size: 8px;
    height: 31px;
  }
}
.sell-btn {
  width: 160px;
  height: 160px;
  bottom: 32px;
  right: 32px;
  font-size: 22px;
  position: fixed;
  background-color: #ea352d;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  .sell-btn__text {
    margin-top: 32px;
  }
  .fa-camera {
    margin-top: 8px;
    font-size: 60px;
  }
}
