.top-page
  .header
    .header__inner
      .header__top
        %h1
          %a
            %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340"}
        %form.header__form
          %input{type: "search", name: "ketword", placeholder: "何かお探しですか？", class: "header__input"}
          .icon-search
            %i.fas.fa-search
      .header__bottom
        %nav.header__bottom__left
          %ul.header__nav
            %li.header__bottom__category-list
              %h2
                %a
                  %i.fas.fa-list-ul
                  %span
                    カテゴリーから探す
            %li.header__bottom__brand-list
              %h2
                %a
                  %i.fas.fa-list
                  %span
                    ブランドから探す
        %nav.header__bottom__right
          .header__bottom__mypage
            %img{src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: "mypage-icon"}
            %span{class: "mypage-text"}
              マイページ
          .header__bottom__todo-list
            %i.fas.fa-check.todo-list--blue
            %span.todo-list--blue
              やることリスト
          .header__bottom__know-list
            %i.far.fa-bell.know-list--blue
            %span.know-list--blue
              お知らせ

  %aside.app-banner
    .app-banner__area
      .app-banner__left
        %h2
          スマホでかんたんフリマアプリ
        %p
          今すぐ無料ダウンロード！
        .app-banner__left__bottom
          .app-banner__left__bottom__icon
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1204800476", class: "mercari-icon"}
          %ul
            %li.appstore-img
              %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1204800476"}
            %li.googleplay-img
              %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1204800476"}
      .app-banner__right
        %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1204800476", class: "iphone-img"}
