.new-product
  .new-product__header
    .single-header
      %a{:href => "/"}
        %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3856598694"}/
  .new-product__main
    .new-product__main__contents
      .new-product__main__contents__head
        %h 商品の情報を入力
      = form_with model: @product, local: true, id: "productForm", class: "new-product__main__contents__form sell-form" do |f|
        .sell-form__image{"data-image_count": 0}
          %h2
            出品画像
            %span 必須
          %p 最大10枚までアップロードできます
          = f.file_field :images, class: "sell-form__images__upload", accept: ".jpg, .jpeg, .png", multiple: true
          %pre
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード
    

