%body
.wrapper-products-show
  .contents-products-detail
    %h1*ここに商品名を表示
    .product-main-content
      .product-main-content__photos
        *ここに写真を表示
      %table.product-main-content__details
        %tr
          %th 出品者
          %td *
        %tr
          %th カテゴリー
          %td *
        %tr
          %th ブランド
          %td *
        %tr
          %th 商品の状態
          %td *
        %tr
          %th 配送料の負担
          %td *
        %tr
          %th 配送の方法
          %td *
        %tr
          %th 配送元地域
          %td *
        %tr
          %th 発送日の目安
          %td *
    .product-price-box
      .price-box
        .product-price
          ¥1,000円
        .product-tax
          (税込)
        .product-shipping-fee
          送料込み
    .product-buy-button
      購入画面に進む
    .product-buy-button__sold
      売り切れました
    .product-description
      .product-description-inner
        ＊ここに説明文を表示
    .product-button-left
      %button.product-button-like  
        %i.far.fa-heart いいね! ０
      %button.product-button-report
        %i.far.fa-flag  不適切な商品の報告
    .product-button-right
      %a{:href => "#"}
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
  .contents-products-messages
    %figure.user-image
      %img.profile-image{ alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width:"45px", height: "45px" }/
    .user-name 
      ユーザーネーム
    .message-body
      .message-text
        こんばんは。
    .message-triangule
    %form.message-form
      #p.alert 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %input{size: "100"}
      %button.message-submit
        %span 売り切れのためコメントできません
      %button.message-submit
        %span コメントする
  .contents-products-media
    %a{:href => "#"}
      .i.fab.fa-facebook-square.fa-3x.facebook
    %a{:href => "#"}
      .i.fab.fa-twitter-square.fa-3x.twitter
    %a{:href => "#"}
      .i.fab.fa-pinterest-square.fa-3x.pinterest
  .contents-products-box
    %a{:href => "#"}
      %h2 *関連商品の名前
    .products-box
       *写真を表示
      %h2　商品タイトル
    .products-box
    .products-box
    .products-box
    .products-box
    .products-box
      




