%body
.wrapper-products-show
  .contents-products-detail
    %h1 値下げ！新品 セーター
    .product-main-content
      .product-main-content__photos-flame
        .gallery
          %img.photo{ src: "https://static.mercdn.net/item/detail/orig/photos/m60487975709_1.jpg?1541732119" }
          %img.photo{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_2.jpg?1541732119"}
          %img.photo{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_3.jpg?1541732119"}
          %img.photo{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_4.jpg?1541732119"}
        .owl-dots
          .owl-dot 
            %span
            .owl-dot-inner
              %img.photo-1{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_1.jpg?1541732119"}/
          .owl-dot
            %span
            .owl-dot-inner
              %img.photo-2{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_2.jpg?1541732119"}/
          .owl-dot
            %span
            .owl-dot-inner
              %img.photo-3{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_3.jpg?1541732119"}/
          .owl-dot
            %span
            .owl-dot-inner
              %img.photo-4{:src => "https://static.mercdn.net/item/detail/orig/photos/m60487975709_4.jpg?1541732119"}/

      %table.product-main-content__details{:cellspacing => "0"}
        %tr
          %th.border-top 出品者
          %td.border-top *
        %tr
          %th カテゴリー
          %td *
        %tr
          %th ブランド
          %td *
        %tr
          %th 商品の状態
          %td *
          
        %tr
          %th 商品のサイズ
          %td *
        %tr
          %th 配送料の負担
          %td *
        %tr
          %th 配送の方法
          %td *
        %tr
          %th 配送元地域
          %td *
        %tr
          %th 発送日の目安
          %td *
    .product-price-box
      .price-box
        .product-price
          ¥1,000円
        .product-tax
          (税込)
        .product-shipping-fee
          送料込み
    .product-buy-button
      購入画面に進む
    .product-buy-button__sold
      売り切れました
    .product-description
      .product-description-inner
        数回着用してますが、目立った傷や汚れはありません。<br>
        前後で長さが違います。<br>

        シンプルなので、何にでも合わせられると思います。<br>

        自宅保管ですので神経質な方はご遠慮ください。
    .product-button-left
      %button.product-button-like  
        %i.far.fa-heart いいね! ０
      %button.product-button-report
        %i.far.fa-flag  不適切な商品の報告
    .product-button-right
      %a{:href => "#"}
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み
  .contents-products-messages
    %figure.user-image
      %img.profile-image{ alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width:"45px", height: "45px" }/
    .user-name 
      ユーザーネーム
    .message-body
      .message-text
        こんばんは。
    .message-triangule
    %form.message-form
      #p.alert 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      %p
      %textarea.comment{:cols => "100", :name => "comment", :rows => "10"}
      %button.message-submit
        %span 売り切れのためコメントできません
      %button.message-submit
        %span コメントする
  .contents-products-media
    %a{:href => "#"}
      .i.fab.fa-facebook-square.fa-3x.facebook
    %a{:href => "#"}
      .i.fab.fa-twitter-square.fa-3x.twitter
    %a{:href => "#"}
      .i.fab.fa-pinterest-square.fa-3x.pinterest
  .contents-products-box
    %a{:href => "#"}
      %h2 関連するカテゴリーその他の商品
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
    .products-box
      %figure.photo
        %img.product-box-photo{:src => "https://static.mercdn.net/thumb/photos/m58341297544_1.jpg?1559194146"}/
      %h2 デニムジャケット　Gジャン
      .price-box ¥ 11,000
      .price-box-tax (税込)
      




