%aside.app-banner
  .app-banner__area
    .app-banner__left
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner__left__bottom
        .app-banner__left__bottom__icon
          %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1204800476", class: "mercari-icon"}
        %ul
          %li.appstore-img
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1204800476"}
          %li.googleplay-img
            %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1204800476"}
    .app-banner__right
      %img{src: "//www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1204800476", class: "iphone-img"}